@tailwind base;
:root {
  --primary: #f1f1f1;
  --secondary: #c4c4c4;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  border: 2px solid var(--primary);
}
@tailwind components;
@tailwind utilities;

.bg-biyaya {
  background-image: url("../src/assets/biyaya_shop.jpg"); /* Update the path to your image */
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
